
.navbar{
    border: 0px;   
    background: transparent;
    padding-top: .5rem;
    border: none;
}
#blurb{
    font-size: 1.75rem;
}
#me{
    height: 55rem;
}
#heroContainer{
    width: 100%;

}
#hero{
    width: 100%;
    height: auto;
}
#navLogo{
    max-width: 5rem;
    height: auto;
    /* width: 2.5rem; */
    
}
#footLogo{
    max-width: 25%;
    height: auto;

}
.trifoldImages{
font-size: 40px;
}
.socialLinks{
    
    font-size: 3rem;
}
