
.navbar{
    border: 0px;   
    background: transparent;
    padding-top: .5rem;
    border: none;
}
#blurb{
    font-size: 1.75rem;
}
#me{
    height: 55rem;
}
#heroContainer{
    width: 100%;

}
#hero{
    width: 100%;
    height: auto;
}
#logo{
    width: 2.5rem;
    
}
.trifoldImages{
font-size: 40px;
}

